<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head',{title: "Add New Products"}); %>
  <body>
    <%- include('../components/header',{cartButtonShow:false, cart_qty : 0 }); %>
    <main>
        <section class="new-product">
            <h1>Add new product</h1>
                <form action="/submit-product" method="post">
                    <label for="product_name">Product's Name</label>
                    <input type="text" placeholder="Product's Name" name="product_name" id="product_name" />
                    <label for="product_description">Product's Description</label>
                    <textarea placeholder="Product's Description" name="product_description" id="product_description" ></textarea>
                    <label for="price">Product's Price</label>
                    <input type="number" step="0.01" placeholder="Product's Price" name="price" id="price" />
                    <label for="currency-symbol">Choose price currency</label>
                        <select name="currency" id="currency-symbol">
                            <option value="">--Please choose a currency--</option>
                            <option value="MYR">MYR</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                        </select>
                    <label for="url">Enter product image URL</label>
                        <input type="url" name="product_img_url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required />
                        <label for="stock">Product's Stock Quantity</label>
                        <input type="number" placeholder="100" name="stock" id="stock">
                        
                        <button type="submit">Add Product</button>
                </form>
        </section>
    </main>
  </body>
</html>